@model float

<div style="font-size: 14px;">
    @for(int i = 1; i <= 5; i++)
    {
        if(Model >= i)
        {
            <i class="bi bi-star-fill text-warning"></i>
        }
        else if(Math.Round(Model) == i)
        {
            <i class="bi bi-star-half text-warning"></i>
        }
        else
        {
            <i class="bi bi-star" style="color: grey"></i>
        }
    }
</div>