@{
    ViewData["Title"] = "Про нас";
}

<div class="text-center">
    <h1 class="display-4">Про нас</h1>
    <p>Ми - команда розробників, яка створила цей інтернет-магазин для вас. Наша мета - надати вам найкращий досвід покупок онлайн. Ми пропонуємо широкий вибір товарів за конкурентними цінами та забезпечуємо швидку доставку. Дякуємо, що обрали нас!</p>
</div>
